{<<"links">>,[{<<"GitHub">>,<<"https://github.com/amishpatel/aztec_ex">>}]}.
{<<"name">>,<<"aztec_ex">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Pure Elixir library for encoding and decoding Aztec 2D barcodes (ISO/IEC 24778).">>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"app">>,<<"aztec_ex">>}.
{<<"licenses">>,[<<"GPL-3.0-only">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/aztec_ex">>,<<"lib/aztec_ex/high_level_decoder.ex">>,
  <<"lib/aztec_ex/code.ex">>,<<"lib/aztec_ex/encoder.ex">>,
  <<"lib/aztec_ex/bit_matrix.ex">>,<<"lib/aztec_ex/decoder.ex">>,
  <<"lib/aztec_ex/reed_solomon.ex">>,<<"lib/aztec_ex/render">>,
  <<"lib/aztec_ex/render/svg.ex">>,<<"lib/aztec_ex/render/text.ex">>,
  <<"lib/aztec_ex/high_level_encoder.ex">>,<<"lib/aztec_ex/char_table.ex">>,
  <<"lib/aztec_ex/bit_stuffing.ex">>,<<"lib/aztec_ex/galois_field.ex">>,
  <<"lib/aztec_ex/reed_solomon">>,<<"lib/aztec_ex/reed_solomon/encoder.ex">>,
  <<"lib/aztec_ex/reed_solomon/decoder.ex">>,<<"lib/aztec_ex.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>]}.
{<<"requirements">>,[]}.
{<<"build_tools">>,[<<"mix">>]}.
